@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

.App {
  font-family:'Raleway', sans-serif;
  text-align: center;
  font-size: large;
}

nav {
  background-color: #ff6b6b;
  color: white;
  padding: 1rem;
  text-align: right;
  border-radius: 10px 0px;
}

img {
  float: right;
  width: 40%;
}

#container {
  background-color: rgb(22, 36, 58);
  color: white;
  border-radius: 10px;
  margin: 1rem;
  padding: 0.5rem;
  width: 45%;
  margin-top: 3rem;
  padding-bottom: 5rem;
  margin-left: 5rem;
}

footer {
  background-color: #ff6b6b;
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top: 20rem;
  border-radius: 0px 10px;
}

button {
  display: inline-block;
  font-family:'Raleway', sans-serif;
  font-weight: bold;
  padding: 0.7rem;
  margin: 1rem;
  background-color: white;
  font-size: large;
  border-radius: 7px;
  cursor: pointer;
}

#genre{
  display: inline;
}


